<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Appuntamenti</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="operazioni">
                <span class="oi oi-plus" aria-hidden="true"></span> Operazioni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="impegni">
                <span class="oi oi-calendar" aria-hidden="true"></span> Impegni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="agenda">
                <span class="oi oi-pencil" aria-hidden="true"></span> Agenda
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categorie">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Categorie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="prodotti">
                <span class="oi oi-beaker" aria-hidden="true"></span> Prodotti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="automobili">
                <span class="oi oi-cart" aria-hidden="true"></span> Automobili
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parco_macchine">
                <span class="oi oi-calendar" aria-hidden="true"></span> Parco Macchine
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="face_ict">
                <span class="oi oi-account-login" aria-hidden="true"></span> FaceICT
            </NavLink>
        </li>


        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
