@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-sm-6">
        <Tabellina baseMoltiplicazione="3" ripetizioni="10" />
    </div>
    <div class="col-sm-6">
        <Tabellina baseMoltiplicazione="8" ripetizioni="10" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <Divisione baseDivisione="50" ripetizioni="10" />
    </div>
    <div class="col-sm-6">
        <Divisione baseDivisione="175" ripetizioni="10" />
    </div>
</div>

